#preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

#container {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1;
    width: 100%;
}

.detailsCard {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary);
    width: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.detailsCard>.title {
    background-color: var(--primary);
    color: white;
    padding: 0.25em;
    flex-grow: 1;
    justify-items: start;
    width: stretch;
}

.confirmationBar {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 1em;
}

.confirmationBar>.MuiButton-root {
    flex: 50%;
    background-color: var(--bg-soft);
    color: black;
}